h1, h2, h3 {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    color: #7E22CE;
}

table {
    border-collapse: collapse;
    width: 100%;
}

p, li, td, th {
    font-family: 'Poppins', sans-serif;
}

td, th {
    border: 1px solid #7E22CE;
}

ul, ol {
    list-style-type: none;
}

img {
    display: block;
    margin: 0 auto;
}

tr:nth-child(even) {
    background-color: #FAF5FF;
}

.subtitle {
    text-align: center;
    font-size: 20px;
}

.navigation{
    text-align: center;
}

.navigation a {
    text-decoration: none;
    color: black;
    padding-right: 5vh;
}

.navigation li {
    display: inline-block;
}

.tdcenter {
    text-align: center;
}